:root {
  --color0: #02010A;
  --color4: #131313;
  --color6: #180c21;
  --color1: #826aed;
  --color2: #140152;
  --color3: #dec9e9;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  min-height: 83px;
  background-color: var(--color6);
  box-shadow: 0px 10px 30px var(--color6); 
  font-family: 'Roboto Mono', monospace;
  z-index: 100;
}
nav .logo{
  width: 100px;
  position: absolute;
  top: 13px;
  left: 5px;
  filter: drop-shadow(0px 0px 7px var(--color1));
}
.hero{
  background: linear-gradient(125deg, rgb(24, 12, 33) 2%, rgb(28, 14, 48) 51%, rgb(33, 19, 66) 65%, rgba(27,13,47,1) 88%, rgba(24,12,33) 96%);
  min-height: 650px;
  max-height: 800px;
  height: 120vh !important;
  padding-top: 220px;
}
nav a{
  color: #02010A;
  text-shadow: 1px 1px 5px white;
  text-shadow: 1px 1px 15px white;

}
#backgroundFilter{
  display: block;
  height: 50px !important;
  position: absolute;
  left: 0;
  top: -25px;
  backdrop-filter: blur(17px);
  color: transparent;
  user-select: none;
}
#gamesSection {
  background: rgb(59,30,95);
  background: radial-gradient(circle, rgba(59,30,95,1) 1%, rgba(40,21,63,1) 27%, rgba(29,16,44,1) 62%);
  height: 100vh;
  position: relative;
}
#games{
  padding-top: 120px;
}

@media screen and (min-width:768px) and (max-width:991px)  {
  nav .logo{
    width: 170px;
    top: 5px;
  }
}
@media screen and (min-width:992px) {
  nav .logo{
    width: 200px;
    top: 0px;
  }
  .nav-item{
    margin: 5px;
    padding: 5px; 
    border-radius: 15px;
  }
  .nav-item:hover {
    background-color:#ffffff10;
  }
}