<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/animations.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark position-fixed w-100">
  <div class="container-fluid d-flex justify-content-lg-center">
    <a class="navbar-brand" href="#"><img class="logo" src="../img/pngwing.com.png" alt="Logo de la pagina"></a>
    <button class="btn btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <label class="hamburger">
        <input type="checkbox">
        <svg viewBox="0 0 32 32">
          <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
          <path class="line" d="M7 16 27 16"></path>
        </svg>
      </label>
    </button>
    <div class="collapse navbar-collapse justify-content-end me-2" id="navbarNav">
      <ul class="navbar-nav text-end pe-3 pe-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#gamesSection">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Ingresar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Crear cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Acerca de</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <section class="container-fluid bg-dark w-100 hero">
    <div class="neonSquares py-5 d-none d-md-flex">
      <div class="square">
        <span style="--i:0;"></span>
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
      </div>
      <div class="square">
        <span style="--i:0;"></span>
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
      </div>
      <div class="square">
        <span style="--i:0;"></span>
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
      </div>
    </div>
    <div id="loader" class="d-block d-md-none z-0">
      <div class="ls-particles ls-part-1"></div>
      <div class="ls-particles ls-part-2"></div>
      <div class="ls-particles ls-part-3"></div>
      <div class="ls-particles ls-part-4"></div>
      <div class="ls-particles ls-part-5"></div>
      <div class="lightsaber ls-left ls-green"></div>
      <div class="lightsaber ls-right ls-red"></div>
    </div>
    <div class="container text-center" id="neonInicio">
      <a href="#gamesSection">
        <button class="neon">
          <span class="text">Comenzar</span>
        </button>
      </a> 
    </div>
  </section>
  <section id="gamesSection" class="container-fluid text-white">
    <div id="backgroundFilter">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, accusamus unde maiores minus laboriosam deserunt culpa ducimus numquam repellat explicabo quod inventore id exercitationem excepturi quo! Possimus, nobis? Esse, explicabo!</div>
    <div id="games">
      <h1 class="display-5 ps-md-4 fw-bold">Juego destacado de la semana</h1>
      <div id="featuredGame" class="py-md-4 px-2 m-md-4 my-4 d-flex row align-items-center justify-content-evenly">
        <div class="carrousel col-12 col-md-6 col-lg-5 mt-4 ms-md-3">
          <div id="carrousel" class="rounded-5">
            <div id="carrouselImages"></div>
          </div>
          <div class="botones mt-3 d-flex justify-content-center">
            <div class="carrouselBtn activo"></div>
            <div class="carrouselBtn"></div>
            <div class="carrouselBtn"></div>
          </div>
        </div>
        <div id="infoFeaturedGame" class="col-12 col-md-5"></div>
      </div>
    </div>
    <div id="categoriesGames">
      <h1 class="display-5 ps-4 fw-bold">O explora por categorías</h1>
    </div>
  </section>
</main>
<!-- <footer class="container-fluid bg-dark text-white py-3">
  <div class="row align-items-center">
    <div class="col-md-2 d-flex justify-content-center pb-3 pe-md-1">
      <div class="col-4 col-md-12 text-center">
        <img src="" class="card-img img-fluid rounded-3" alt="nuestro logo">
      </div>
    </div>
    <div class="col-md-7 p-md-1">
      <div class=" text-center">
        <h2>¿Quiénes somos?</h2>
        <p>MakePopMusic ofrece la música y los podcasts más relevantes del momento, restringidos por derechos de autor que incluyen más de 100 millones de canciones de sellos discográficos y compañias de medios.</p>
      </div>
    </div>
    <div class="col-md-3 pb-3 pb-md-0 px-md-2 pe-md-4 text-center">
      <h4>Contáctanos</h4>
      <p class="mb-0">¡A continuación te dejamos todas nuestras redes para estas más cerca de nosotros!</p>
      <div class="fs-2">
        <a target="_blank" href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
        <a target="_blank" href="https://www.instragram.com/"><i class="bi bi-instagram"></i></a>
        <a target="_blank" href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>
        <a target="_blank" href="https://gmail.com/"><i class="bi bi-envelope"></i></a>
      </div>
    </div>
  </div>
</footer> -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="module" src="../js/app.js"></script>
</html>